a {
    text-decoration: none;
}

.h1 {
    font-size: 72px;
}

.h2 {
    color: var(--Text);
    background-color: var(--bgc);
    margin-bottom: 24px;
}

.h3 {
    width: 100%;
    color: var(--TextColorSec);
    margin: 0;
}

/* 🐢🐢 FOOTER 🐢🐢 */

#footer {
    background-color: var(--bgc);
    padding-top: 12px;
}

#links a {
    color: whitesmoke;
    font-size: smaller;
    margin: 0 4px 0 8px;
}

#links a:hover {
    font-weight: bold;
    cursor: pointer;
}

#links > a:nth-child(1) {
    margin-left: 16px
}

#icons a img {
    width: 20px;
    margin: 0 4px 8px 8px;
}

#icons a img:hover {
    cursor: pointer;
    width: 15px;
}

#icons > a:nth-child(4) {
    margin: 0 16px 0 0
}

#icons > a:nth-child(5) > img {
    margin-right: 16px
}

@media (max-width: 320px) {
    .ps-4 {
        padding: 0 !important;
    }
    body > div > footer > ul {
        padding-bottom: 12px;
    }   
}