#offcanvasExample > div.offcanvas-body.p-lg-0 > ul > li:nth-child(n) > a {
    color: var(--TextColor);
}

.bg-danger {
    background-color: var(--bgc) !important;
}

.btn {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown-menu.show li a:hover {
    color: var(--hoverTextColor);
    background-color: transparent;
}

.btn:hover {
    color: var(--bgc);
    background-color: var(--bgc);
    border-color: none;
}

body > nav > div > button > img {
    background-color: #fff;
}

#offcanvasExample > div.offcanvas-body.p-lg-0 > ul > li:nth-child(n) > a:hover {
    color: #01aa1b;
}

@media (max-width: 1024px) {
    #offcanvasExample > div.offcanvas-body.p-lg-0 > ul > li:nth-child(n) > a {
        font-size: 0.75rem;
    }
}

@media (min-width: 992px) {
    .offcanvas {
        visibility      : visible;
        position        : relative;
        background      : none;
        border          : none;
        justify-content : end;
        background-color: var(--bgc);
        margin-top: 4px;
    }
}

@media (max-width: 992px) {
    .offcanvas {
        width : 250px;
    }
    .offcanvas-start-lg {
        top          : 0;
        left         : 0;
        border-right : 1px solid rgba(0, 0, 0, .2);
        transform    : translateX(-100%);
    }
    .dropdown-menu.show {
        background-color: transparent;
        border: none;
    }
    .dropdown-menu.show li a {
        color: var(--TextColor);
    }
    #offcanvasExample > div.offcanvas-body.p-lg-0 > ul > li:nth-child(n) > a > b {
        font-size: 12px;
    }
    #offcanvasExample > div.offcanvas-body.p-lg-0 > ul > li:nth-child(n) > ul > li:nth-child(n) > a {
        font-size: 12px;
    }
    body > nav > div > a > b {
        font-size: 16px; 
    }
}

@media (max-width: 768px) {
    .text-white {
        font-size: 16px;
    }
    .offcanvas-title {
        font-size: 14px;
    }
}

