#offcanvasExample > div.offcanvas-body.p-lg-0 > ul > li:nth-child(n) > a {
    color: var(--TextColor);
}

.bg-danger {
    background-color: var(--bgc) !important;
}

.btn {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown-menu.show li a:hover {
    color: var(--hoverTextColor);
    background-color: transparent;
}

.btn:hover {
    color: var(--bgc);
    background-color: var(--bgc);
    border-color: none;
}

body > nav > div > button > img {
    background-color: #fff;
}

#offcanvasExample > div.offcanvas-body.p-lg-0 > ul > li:nth-child(n) > a:hover {
    color: #01aa1b;
}