.col-12,
.col-7 {
    background-color: var(--bgc);
    color: var(--TextColor);
    margin: 12px 0;
    padding: 12px;
}

.row.d-flex.align-items-center {
    background-color: var(--bgc);
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

body > div > div:nth-child(1) > div:nth-child(11) > img,
body > div > div:nth-child(1) > div:nth-child(13) > img,
body > div > div:nth-child(1) > div:nth-child(15) > img {
    border-radius: 50%;
}

#next {
    margin: 4px
} 